
.searchDesign{

    height: 100vh;
    width: 100vw;

    background-color: lightslategray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}